* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    background: #000915;
}

a {
    text-decoration: none;
}

.center {
    padding-right: calc(50% - 600px);
    padding-left: calc(50% - 600px);
}

.header {
    height: 1024px;
    background-image: url(img/header.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    &__title {
        font-style: normal;
        font-weight: 700;
        font-size: 64px;
        line-height: 78px;
        color: #FFFFFF;
        padding-top: 217px;
    }

    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 480px;
        padding-top: 32px;

    }

    &__button {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        width: 234.06px;
        height: 48.6px;
        background: #9C0332;
        border-radius: 30px;
        margin-top: 44px;
        border: none;
    }
}

.play {
    height: 556px;
    background: #000915;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    gap: 32px;

    &__item {
        background: no-repeat;
        border-radius: 16px;
        width: 379px;
        height: 300px;
        font-style: normal;
        font-weight: 600;
        font-size: 24px;
        line-height: 32px;
        color: #FFFFFF;
        display: flex;
        align-items: flex-end;
        padding-left: 32px;
        padding-bottom: 32px;

    }

    &__item-1 {
        background-image: url(img/Play1.jpg);
        color: #FFFFFF;
    }

    &__item-2 {
        background-image: url(img/Play2.jpg);
        color: #FFFFFF;
    }

    &__item-3 {
        background-image: url(img/Play3.jpg);
        color: #FFFFFF;
    }
}
.season {
        height: 800px;
        background: #000915;
        display: flex;
        gap: 135px;
        padding-top: 233px;
    &__title {
        margin-top: 43px;
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 59px;     
        color: #FFFFFF;           
    }
    &__text {
        font-style: normal;
        font-weight: 300;
        font-size: 18px;
        line-height: 32px;
        color: #FFFFFF;
        width: 584px;
        margin-top: 32px;
    }
    &__button {
        border: none;
        width: 234.06px;
        height: 48.6px;
        left: 0px;
        top: 187px;
        background: #9C0332;
        border-radius: 30px;
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        color: #FFFFFF;
        margin-top: 32px;

    }
    &__img {
        width: 485px;
        height: 333px;
    }
}

/*Мобильная версия*/

@media (max-width: 767px) {
    .center {
        padding-right: calc(50% - 171px);
        padding-left: calc(50% - 171px);
    }

    .header {
        height: 735px;

        &__title {
            font-size: 32px;
            line-height: 39px;
            text-align: center;
            padding-top: 239px;
        }

        &__text {
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            width: auto;
        }

        &__button {
            position: relative;
            left: 50%;
            transform: translate(-50%, 0);
        }
    }

    .play {
        flex-direction: column;
        align-items: center;
        height: 1221px;
        padding-bottom: 127px;

        &__item {
            width: 343px;
        }
    }

    .season {
        flex-direction: column;
        gap: 64px;
        height: 654px;
        padding-top: 51px;
        &__box {
            display: flex;
            align-items: center;
            flex-direction: column;
        }
        
        &__title {
            font-size: 48px;
            line-height: 59px;
            text-align: center;
            margin-top: 0px;
        }
        &__text {
            font-size: 14px;
            line-height: 22px;
            width: auto;
            text-align: center;
        }
        &__button {
            
        }
        &__img {
            width: 344px;
            height: 236px;
            
        }
    }

}